body{
  /*text-align: center;*/
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  text-transform: uppercase;
}
#game{
  text-align: center;
  font-size: 20px;
}
#game-numbers{
  margin-bottom: 22px;
  display: flex;
  justify-items: center;
  /*flex-direction: row;*/
}
.game-number-input{
  width: 42px;
  height: 42px;
  font-size: 36px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}
/*#plus-term{
  display: none;/*table-row*/
/*}
#times-term{
  display: none;/*table-row*/
/*}
#factorial-term{
  display: none;/*table-row*/
/*}
#distributive-term{
  display: none;/*table-row*/
/*}*/
.is-true{
  text-transform: uppercase;
  color: orange;
  animation-name: blink;
  animation-duration: 3200ms;
  animation-iteration-count: infinite;
}
/*#plus-term-is-true{
  color: red;
  animation-name: blink;
  animation-duration: 3200ms;
  animation-iteration-count: infinite;
  /*transition-property: color
  transition-duration: 3000ms;*/
}
/*#times-term-is-true{
  color: red;
  animation-name: blink;
  animation-duration: 3200ms;
  animation-iteration-count: infinite;
  /*transition-property: color
  transition-duration: 3000ms;*/
}
/*#factorial-term-is-true{
  color: red;
  animation-name: blink;
  animation-duration: 3200ms;
  animation-iteration-count: infinite;
  /*transition-property: color
  transition-duration: 3000ms;*/
}
/*#distributive-term-is-true{
  color: red;
  animation-name: blink;
  animation-duration: 3200ms;
  animation-iteration-count: infinite;
  /*transition-property: color
  transition-duration: 3000ms;*/
}
button{
  margin-bottom: 22px;
  padding: 6px;
}

@keyframes blink {
   from{opacity: 0;} to {opacity: 1;}
}  